.section{
    background-color: white;
    grid-area: section_intro;
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    padding: 5%;    
}

.section h1{
    font-size: 4.5rem;
    font-family: 'Work_sans_semibold';
    margin: 0;
    padding: 0;
}

.section p{
    font-family: 'Work_sans_regular';
    font-size: 1rem;
 
    text-align: justify;
    margin: 0;
}

.btn_hello{
    font-size: 1rem;
    padding: 1rem;
    border: none;
    background-color: #A53DFF;
    color: white;
    font-family: 'Work_sans_semibold';
    border-radius: 0.5rem;
    width: 10rem;
}

.btn_hello:hover{
    background-color:#cc93fd;
}

.stats{
    display: flex;
    gap: 0.5rem;
    width: 80%;
    margin-top: 1rem;
}

.stats article{
    display: flex;
    flex-direction: column;
    width: 32%;
    align-items: center;
    background-color: #EDD8FF;
    text-align: center;
    padding: 1rem;
}

.stats article strong{
    font-size: 2rem;  
    font-family: 'Work_sans_semibold';  
}

.stats article p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Work_sans_regular'
}

@media (max-width: 700px){
    .section{
        align-items: center;
        padding: 2rem;
    }

    .section h1{
        text-align: center;
        font-size: 4rem;
    }
}

