.article{
    width: 30%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 0.5rem;
}

.article:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* adds shadow on hover */
}

.description{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.description h2{
    font-family: 'Work_sans_semibold';
    margin: 0;
}

.description p{
    font-family: 'Work_sans_regular';
}

.article button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #A53DFF;
    color: white;
    font-size: 1rem;
    font-family: 'Work_sans_semibold';
    border: none;
}

.article button:hover{
    background-color: #cc93fd;
}

.article p{
    display: flex;
    margin: 0;
}