.section{
    width: 100%;
    display: flex;
    grid-area: section_paper;
    background-color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.section h1{
    font-size: 3rem;
    font-family: 'Work_sans_semibold';
    text-align: center;
}

.paper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.section article{
    width: 20%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section article button{
    margin-top: auto;
    width: 100%;
    height: 15%;
    border: none;
    background-color:#A53DFF;
    color: white;
    font-family: 'Work_sans_semibold';
    font-size: 1rem;    
}

@media (max-width: 700px){
    .section article{
        width: 80%;
    }
}

