.section{
    width: 100%;
    display: flex;
    grid-area: section_paper;
    background-color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    scroll-margin-top: 5rem;
    gap: 2rem;
}

.section h1{
    font-size: 3rem;
    font-family: 'Work_sans_semibold';
    text-align: center;
}

.paper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px){
    .section article{
        width: 100%;
    }
}

