.footer{
    display: flex;
    grid-area: footer;
    background-color: #2B384C;
    box-sizing: border-box;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.footer p{
    color: white;
    font-size: 1.5rem;
    font-family: 'Work_sans_regular';
}

.color{
    color: white;
}

@media (max-width: 700px){
    .footer{
        flex-direction: column;
    }
}
