@media (max-width: 700px){
    .app_container{
        display: grid;
        gap: 1rem;
    
        grid-template-areas: 
            "header"
            "aside_intro"
            "section_intro"
            "section_about"
            "section_project"
            "section_work_together"
            "section_paper"
            "section_blog"
            "section_services"
            "section_form"
            "footer"
        ;   
    }
}