.section{
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-area: section_project;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.section h1{
    font-size: 3rem;
    font-family: 'Work_sans_semibold';
}

.projects{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 700px){
    .section article{
        width: 100%;
    }
}